<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mobil.prog.music_app">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="Beatify"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginSignUp"
        tools:replace="android:allowBackup"
        android:requestLegacyExternalStorage="true"
        >
        <activity
            android:name="mobil.prog.music_app.MusicActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            />
        <activity
            android:name="mobil.prog.music_app.DBHelper"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name="mobil.prog.music_app.SongslistActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="mobil.prog.music_app.RegisterActivity"
            android:exported="false"
            android:parentActivityName="mobil.prog.music_app.MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="mobil.prog.music_app.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>